{% extends 'common/base.html' %}

{% block title %}
    <title>{{ post.title }}</title>
{% endblock %}

{% block content_header %}
    <tr id="pagespace" style="height:10px" title={{ post.title }}></tr>
{% endblock %}

{% block content %}
{% if error %}
{% ifequal error "empty_comment" %}
    Comment can't be empty.
{% else %}
    Please try again.
{% endifequal %}
<br><br>
{% endif %}
<table class="fatitem" border="0">
  <tr class='athing' id='{{ post.id }}'>
    <td align="right" valign="top" class="title"><span class="rank"></span></td>
    <td class="votelinks" valign="top">
      <div class="center">
        {% ifequal post.user request.user %}
        <span class="asterisk">*</span><br>
        <div style="width: 14px; height: 1px"></div>
        {% else %}
        {% if post.id in post_tracking %}
        <a id="up_{{ post.id }}" onclick="upvotePost(this)">
          <div class='votearrow' title='upvote'
               style='visibility: hidden'></div>
        </a>
        {% else %}
        <a id="up_{{ post.id }}" onclick="upvotePost(this)" style="cursor: pointer">
          <div class='votearrow' title='upvote'></div>
        </a>
        {% endif %}
        {% endifequal %}
      </div>
    </td>
    <td class="title"><a
        href="{{ post.url }}"
        class="storylink">{{ post.title }}</a><span
        class="sitebit comhead"> (<a href="from?site={{ post.site }}"><span
        class="sitestr">{{ post.site }}</span></a>)</span>
    </td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td class="subtext">
      <span class="score"
            id="score_{{ post.id }}">{{ post.votes }} point{{ post.votes|pluralize }}</span> by
      <a href="{% url 'profile' user_id=post.user.id %}"
         class="hnuser">{{ post.user.username }}</a>
      <span class="age"><a
          href="{% url 'post' post_id=post.id %}">{{ post.time_from_post }}</a></span> <span
        id="unv_{{ post.id }}"></span>
      | <a href="https://www.google.com/search?q={{ post.title|urlencode }}">web</a>
      | <a href="{% url 'post' post_id=post.id %}">
      {{ post.comment_set.count }} comment{{ post.comment_set.count|pluralize }}
    </a>
      {% ifequal post.user request.user %}
      | <a href="{% url 'post_edit' post_id=post.id %}">edit</a>
      | <a href="{% url 'post_delete' post_id=post.id %}">delete</a>
      {% endifequal %}
    </td>
  </tr>
  <tr style="height:10px"></tr>
  <tr>
    <td colspan="2"></td>
    <td>
      <form method="post" action="{% url 'post_comment' post.id %}">
        {% csrf_token %}

        <input type="hidden" name="parent" value="{{ post.id }}">
        {# <input type="hidden" name="goto" value="item?id={{ post.id }}">#}
        {% if user.is_authenticated %}
        <textarea name="text" rows="6" cols="60"></textarea>
        {% else %}
        <textarea disabled="disabled" name="text" rows="6"
                  cols="60">You must be logged to comment.</textarea>
        {% endif %}
        <br>
        <br>
        <input type="submit" value="add comment">
      </form>
    </td>
  </tr>
</table>
<br><br>
<table border="0" class='comment-tree'>
  {% if not error %}
  {% include "comments/comments_tree.html" %}
  {% endif %}
</table>
{% endblock %}
