{% extends 'common/base.html' %}

{% block content %}
{% if errors %}
Please try again.<br><br>
{% endif %}
{% if deleted %}
[deleted]
{% else %}
<table class="fatitem" border="0">
  <tr class='athing' id='{{ post.id }}'>
    <td align="right" valign="top" class="title"><span class="rank"></span></td>
    <td class="votelinks" valign="top">
      <div class="center">
        <span class="asterisk">*</span><br>
        <div style="width: 14px; height: 1px"></div>
      </div>
    </td>
    <td class="title"><a
        href="{{ post.url }}"
        class="storylink">{{ post.title }}</a><span
        class="sitebit comhead"> (<a href="from?site={{ post.site }}"><span
        class="sitestr">{{ post.site }}</span></a>)</span>
    </td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td class="subtext">
      <span class="score"
            id="score_{{ post.id }}">{{ post.votes }} point{{ post.votes|pluralize }}</span> by
      <a href="{% url 'profile' user_id=post.user.id %}"
         class="hnuser">{{ post.user.username }}</a>
      <span class="age"><a
          href="{% url 'post' post_id=post.id %}">{{ post.time_from_post }}</a></span> <span
        id="unv_{{ post.id }}"></span>
      | <a href="https://www.google.com/search?q={{ post.title|urlencode }}">web</a>
      | <a href="{% url 'post' post_id=post.id %}">
      {{ post.comment_set.count }} comment{{ post.comment_set.count|pluralize }}
    </a>
      {% ifequal post.user request.user %}
      | <a href="{% url 'post_edit' post_id=post.id %}">edit</a> |
      <a href="{% url 'post_delete' post_id=post.id %}">delete</a>
      {% endifequal %}
    </td>
  </tr>
  {% ifequal post.user request.user %}
  <tr style="height:20px"></tr>
  <tr>
    <td colspan="2"></td>
    <td>
      <form method="post" action="{% url 'post_delete' post_id=post.id %}">
        {% csrf_token %}
        Do you want this to be deleted?
        <br><br><input type="submit" name="delete" value="Yes">&nbsp;
        <input type="submit" name="delete" value="No"></form>
    </td>
  </tr>
  {% endifequal %}
</table>
{% endif %}
<br><br>
{% endblock %}
