{% load static %}

<meta charset="UTF-8">
<meta name="description"
      content="DataTau: Hacker News Clone - Data Science Newsboard">
<meta name="keywords"
      content="datatau, machine learning, data science, ai, artificial inteligence,
       blog, forum, deep learning, newsboard">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{# Opengraph metadata #}

<meta property="og:title" content="DataTau"/>
<meta property="og:description" content="DataTau: Hacker News Clone - Data Science Newsboard"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://datatau.net"/>
<meta property="og:site_name" content="https://datatau.net"/>
<meta property="og:image" content="https://datatau.net/static/img/datatau.png"/>

{# Twittercards metadata #}

<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="https://datatau.net">
<meta name="twitter:title" content="DataTau">
<meta name="twitter:description" content="DataTau: Hacker News Clone - Data Science Newsboard"/>
<meta name="twitter:image" content="https://datatau.net/static/img/datatau.png">
<meta name="twitter:site" content="@TheGurusTeam">
<meta name="twitter:creator" content="@TheGurusTeam">
