{% for comment in root_comments %}
{% load app_extras %}
<tr class='athing comtr ' id='{{ comment.id }}'>
  <td>
    <table border='0'>
      <tr>
        <td class='ind'>
          <div style="height:1px; width:{{ ind }}"></div>
        </td>
        <td class="votelinks" valign="top">
          <div class="center">
            {% ifequal comment.user request.user %}
            <span class="asterisk">*</span><br>
            <div style="width: 14px; height: 1px"></div>
            {% else %}
            {% if comment.id in tracking %}
            <a id="up_{{ comment.id }}" onclick="upvoteComment(this)">
              <div class='votearrow' title='upvote'
                   style='visibility: hidden'></div>
            </a>
            {% else %}
            <a id="up_{{ comment.id }}" onclick="upvoteComment(this)" style="cursor: pointer">
              <div class='votearrow' title='upvote'></div>
            </a>
            {% endif %}
            {% endifequal %}
          </div>
        </td>
        <td class="default">
          <div style="margin-top:2px; margin-bottom:-10px;"><span class="comhead">
            <a href="{% url 'profile' user_id=comment.user.id %}"
               class="hnuser">{{ comment.user.username }}
            </a>
                <span class="age">
                    <a href="{% url 'comment' comment_id=comment.id %}">
                        {{ comment.time_from_post }}
                    </a>
                </span>
                <span id="unv_{{ comment.id }}"></span>
                <span class="par"></span>
                {% ifequal comment.user request.user %}
                | <a href="{% url 'comment_edit' comment_id=comment.id %}">edit</a>
                | <a href="{% url 'comment_delete' comment_id=comment.id %}">delete</a>
                {% endifequal %}
                <a class="togg" n="{{ comment.comment_set.count|add:" 1" }}"
                   href="javascript:void(0)"
                   data-collapsed="false"
                   onclick="return toggle(event, this)">[-]
            </a>
            <span class='storyon'></span>
          </div>
          <br>
          <div class="comment">
            <span class="commtext c00">{{ comment.content }}</span>
            <div class='reply'><p><span style="font-size: x-small;">
              <u><a href="{% url 'comment' comment_id=comment.id %}">reply</a></u>
            </span>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <table border="0" class='comment-tree'>
      {% include "comments/comments_tree.html" with root_comments=comment.comment_set.all ind=ind|add:"40" %}
    </table>
  </td>
</tr>
{% endfor %}
